.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header__inner {
    background-color: transparent;
    padding: 20px 0;
    transition: background-color 0.35s ease, padding 0.35s ease;

    &.active {
        background-color: rgb(63 3 3);

        .header__wrapper {
            align-items: center;
            justify-content: space-between;
        }

        .header__logo {
            width: 55px;
            scale: 2;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}


.header__wrapper {
    display: flex;
    gap: 73px;
    align-items: center;
    justify-content: space-between;
    transition: gap 0.35s ease;
}


.header__logo {
    transition: width 0.35s ease, scale 0.35s ease;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    a {
        display: block;
    }

    img {
        width: 150px;
        transition: width 0.3s ease;
        will-change: width;
    }
}

.header__menu {
    ul {
        display: flex;
        align-items: center;
        gap: 34px;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            a {
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                text-transform: capitalize;
                color: var(--white);
                transition: color 0.25s ease;
                position: relative;
                padding-bottom: 7px;

                &.active {
                    text-decoration: underline var(--white);
                    text-underline-offset: 3px;
                    color: var(--brand);
                    text-decoration-thickness: 2px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    background-color: var(--white);
                    left: 0;
                    bottom: 0;
                    width: 0;
                    transition: width 0.3s ease;
                    height: 2px;
                }

                &:hover {
                    color: var(--brand);

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: calc(100% - 293px);
}

.header__hamburger-btn {
    display: none;
}

@media (max-width:1399px) {
    .header__wrapper {
        gap: 45px;
    }

    .header__logo img {
        width: 180px;
    }

    .header__right {
        width: calc(100% - 225px);
    }
}

@media (max-width:1299px) {
    .header__wrapper {
        gap: 50px;
    }

    .header__logo img {
        width: 140px;
    }

    .header__right {
        width: calc(100% - 170px);
    }
}

@media (max-width:1160px) {
    .header__menu {
        display: none;
    }

    .header__wrapper {
        justify-content: space-between;

    }

    .header__right {
        width: auto;
    }

    .header__inner.active .header__wrapper {
        justify-content: space-between;
    }

    .header__left {
        padding-left: 20px;
    }

    .header__hamburger-btn {
        display: flex;
        align-items: center;
        font-weight: 600;
        gap: 10px;
        border: 1px solid var(--light-bg);
        border-radius: 5px;
        padding: 15px;
    }

    .header__hamburger-text {
        font-size: 16px;
        line-height: 100%;
        text-transform: capitalize;
        color: var(--white);
        transition: color 0.25s ease;
        position: relative;
    }

    .header__right {
        .btn {
            display: none;
        }
    }
}


@media (max-width:991px) {
    .header__logo img {
        width: 97px;
    }
}